* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

p {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 100%;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  max-height: 100%;
}

.sidebar {
  width: 350px;
  flex-grow: 1;
  flex-shrink: 0;
  background: #5cdb95;
  height: 100%;
  display: none;
  overflow-y: auto;
  flex-direction: column;
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar_opened {
  display: flex;
}

.sidebar__element-name {
  font-size: 18px;
  margin-left: 5px;
}

.element {
  width: 100%;
  background-color: #50d090;
  padding: 10px;
}

.sidebar-button {
  border: 0;
  height: 100%;
  width: 30px;
  background: url("../images/right-arrow.svg") center no-repeat, #50d090;
  flex-grow: 1;
  flex-shrink: 0;
}

.sidebar-button_opened {
  background-image: url("../images/left-arrow.svg");
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  min-width: 975px;
  height: 100%;
  overflow-x: auto;
}

.main__app-name {
  margin-bottom: 0;
  text-align: center;
}

.main__instructions {
  margin-top: 15px;
  text-align: center;
}

.wrapper {
  border: 2px solid lightgray;
  box-shadow: 0 0 5px lightgray;
  display: block;
  margin: 30px 50px 0;
  width: 884px;
  height: 704px;
}

.area-to-capture {
  width: 100%;
  height: 100%;
}

.send-postcard-form {
  display: flex;
  width: 250px;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
}

.send-postcard-form__label {
  display: block;
  margin-bottom: 12px;
  width: 100%;
  font-size: 12px;
}

.send-postcard-form__input-field,
.input-text-form__input-field,
.input-text-form__multiline-input-field {
  margin: 5px 0 0 0;
  display: block;
  width: 100%;
  height: 22px;
  padding: 5px;
}

textarea.send-postcard-form__input-field,
textarea.input-text-form__input-field,
textarea.input-text-form__multiline-input-field {
  resize: none;
  height: 100px;
}

.main__footer {
  margin-top: 30px;
  display: flex;
}

.button-group {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.button-group__button {
  width: 150px;
  height: 35px;
}

.footer__trash {
  width: 50px;
  height: 35px;
  margin-right: 150px;
  background: url("../images/trash.svg") center no-repeat, rgb(231, 229, 229);
}

.sp-replacer.sp-light {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sp-preview {
  flex-grow: 1;
  flex-shrink: 0;
}

.sp-dd {
  flex-grow: 0;
  flex-shrink: 0;
}
